#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.exe
*.terraform.lock.hcl
.env

# bundles
*.plan
.builds
.DS_Store

voting/db-data/*
voting/worker/target/*
voting/worker/.vscode/
voting/worker/.classpath
voting/worker/.project
voting/worker/.setting

#  editor
.vscode