<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Code Pipes demo</title>
    <style>
        /* Set a gradient background */
        body {
          /* background: linear-gradient(to bottom right, #ca4d4d, #d28015); */
          /* background: linear-gradient(to bottom right, #4d83ca, #9915d2); */
          background: linear-gradient(to bottom right, #9b4dca, #d2158d);
          background-size: 100%;
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          color: #fff;
        }
      
        /* Style the main text */
        h1 {
          font-size: 4rem;
          text-align: center;
        }
      
        /* Style the subtext */
        p {
          font-size: 1.5rem;
          text-align: center;
          color: #dff9fb;
        }
      
        /* Highlight the version number */
        .version {
          color: #f6e58d;
          font-weight: bold;
        }

        /* Style the counter */
        .footer {
          position: fixed;
          bottom: 10px;
          font-size: 1rem;
        }

        .left {
          left: 10px;
        }

        .right {
          right: 10px;
        }
      </style>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300">
  </head>
  <body>
    <h1>Welcome to Code Pipes Part 2</h1>
    <p>Demo 2 NodeJS app with redis dependency</p>

    <span class="footer">(NODE_ENV=<%= NODE_ENV %> ; version=patch-1)</span>
    <div class="footer right">
      Page views: <%= hitCounter %>
    </div>
  </body>
</html>
