resource_group_name = "<name of resource group to create>"
location = "<Azure region for resources>"
application_name = "<name of Azure enterprise application to create>"
storage_account_name = "<name of Azure storage account to create>"
storage_account_container = "<name of storage container to create>"
servicebus_namespace = "<name of Service Bus namespace to create>"
servicebus_topic_name = "<Service Bus topic to create>"

# optional (i.e. these have defaults)
storage_account_kind = ""
storage_account_tier = ""
storage_account_replication_type = ""
storage_account_access_tier = ""
pipeline_role_name = ""