account_id = "<existing AWS Account Number>"
region = "<AWS region to put resources in>"

# To use a user/secret/access for the credential
create_iamuser = true
create_rolearn = false
username = "<IAM User to create - defaults to codepipes-user>"

# To use a role ARN for the credential
create_iamuser = false
create_rolearn = true
rolename = "<name for IAM role - defaults to codepipes-role>"
codepipes_org_id = "<Organization ID in Code Pipes to associate with this role>"
codepipes_aws_account = "<Code Pipes AWS Account # to use - defaults to Code Pipes Production>"
codepipes_aws_account_user = "<username in codepipes_aws_account that Code Pipes is using - defaults to root>"

# optional (i.e. these have defaults)
bucket_name_prefix = "<unique prefix for S3 buckets>"
code_build_queue_name = "<unique name for Code Build status queue"
key_name = "<name for KMS key to create>"
code_build_topic_name = "<Code Build topic name>"